BODY, html {
	padding:0;
	margin:0;
	background-attachment:fixed;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	  background-color:#004A75;
	  text-align:center;
}

@font-face {
    font-family: "Calendar";
    src: url('./font/calendar.ttf');
}


.digit{
	font-family:Calendar, sans-serif;
}

#scroller_container {
 position: relative;
 width: 90%;
 height: 75px;
 overflow: hidden;
}

#scroller {
 white-space: nowrap;
 line-height: 60px;
 font-size: 60px;
}

#scroller p {
 padding: 0;
}

a {
color: #6a6a6a;
text-decoration: none;
}

#bouton_menu {
  height:25px;
  width:150px;
  border:solid 1px #004A75;
  color:#004A75;
  text-align:center;
  font-weight: bold;
  font-size: 20px;
}
#bouton_menu:hover {
  border:solid 1px #AAAAAA;
  color:#666666;
}
#title {
    font-size:20px;
    color:#009CDD;
    font-weight:bold;
	margin-bottom : 20px;
}
#sddm
{	margin: 0;
	padding: 0;
	z-index: 30}

#sddm li
{	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: bold 11px arial}

#sddm li a
{	display: block;
	margin: 0 1px 0 0;
	padding: 4px 10px;
	background: #5970B2;
	color: #FFF;
	text-align: center;
	text-decoration: none}

#sddm li a:hover
{	background: #49A3FF}

.sep{
width:100%;
height:10px;
background-color:#004A75;
margin-top:10px;
margin-bottom:10px;
}

.scroll{
height:100pt;
overflow:auto
}

#sddm div
{	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #EAEBD8;
	border: 1px solid #5970B2}

#sddm div a
{	position: relative;
	display: block;
	margin: 0;
	padding: 5px 10px;
	width: auto;
	white-space: nowrap;
	text-align: left;
	text-decoration: none;
	background: #EAEBD8;
	color: #2875DE;
	font: 11px arial}

#sddm div a:hover
{	background: #49A3FF;
	color: #FFF}